/* CSS-змінні */
:root {
    --primary-brand: #4D5AE5;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
}

/* домінантний body-елемент */
body {
    font-family: 'Roboto';
    color: var(--primary-brand);
    
}

html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
	margin: 0;
}

.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.link {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* попередні налаштування таскидання */

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-f {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex; 
    align-items: baseline;
}
.header-class {
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-nav {
    display: flex;
}

.web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-brand);
    display: flex;
    align-items: center;
}
.studio {
    color: var(--dark);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}

/* очистка переліків від позначок */
.no-bullets {
    list-style-type:none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    gap: 24px;
}

.nav-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    list-style-type: none;
    display: flex;
}
.exact-nav-links {
    color: var(--dark);
    font-weight: 500;
    text-decoration: none;
    display: flex;
    margin-right: 40px;
}
.exact-nav-links:hover {
    color: var(--primary-brand);
}
.exact-nav-links:focus {
    color: var(--primary-brand);
}
.nav-segment {
    margin-right: auto;
    margin-left: 77px;
}
.contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    list-style-type: none;
    text-decoration: none;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.contact-links:hover {
    color: var(--primary-brand);
}
.contact-links:focus {
    color: var(--primary-brand);
}
.contact-links {
    text-decoration: none;
    color: var(--text);
    margin-right: 40px;
}

.main-title {
    font-weight: 500;
    font-size: 56px;
    width: 492px;
    margin: 0 auto;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.title-section {
    padding-top: 192px;
    padding-bottom: 192px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)), url("../../images/people-office_1.jpg");
    background-size: cover;

}
.btn {
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 1.18;
    height: 51px;
    width: 170px;
    left: 635px;
    top: 432px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 72px;
    background-color: var(--primary-brand);
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn:focus {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hidden {
    display: none;
}
.benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.bene-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.benefit-point {
    width: 264px;
    flex-basis: calc((100% - 72px) / 4);
    height: 112px;
    background-color: #F4F4FD;
}
.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
.section-doing {
    padding-top: 120px;
    padding-bottom: 120px;
}
.doing {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.pics1 {
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
    background-blend-mode: soft-light, normal;
    border: 1px solid var(--accent);
    display: flex;
    box-sizing: border-box;
}
.pics2 {
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
    background-blend-mode: soft-light, normal;
    border: 1px solid var(--accent);
    display: flex;
    box-sizing: border-box;
}
.pics3 {
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
    background-blend-mode: soft-light, normal;
    border: 1px solid var(--accent);
    display: flex;
    box-sizing: border-box;
}
.team-bckg {
    background-color: var(--light);
    padding-top: 120px;
    padding-bottom: 120px;
}
.team {
    margin-bottom: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.team-list-item1 {
    width: 40px;
    height: 40px;
    margin-right: 24px;
}
.team-list-item2 {
    width: 40px;
    height: 40px;
    margin-right: 24px;
}
.team-list-item3 {
    width: 40px;
    height: 40px;
    margin-right: 24px;
}
.team-list-item4 {
    width: 40px;
    height: 40px;
}
.worker-card1 {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: white;
}
.worker-card2 {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: white;
}
.worker-card3 {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: white;
}
.worker-card4 {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: white;
}
.worker-data {
    padding-top: 32px;
    padding-bottom: 32px;
}
.names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.positions {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 8px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}
.social-media {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 12px;
    padding-left: 0;
}
.media-list-element {
    width: 40px;
    height: 40px;
    padding: 12px;
}
.insta {
    width: 16px;
    height: 16px;
    fill: white;
}
.face {
    width: 16px;
    height: 16px;
    
    fill: white;
}
.twit {
    width: 16px;
    height: 16px;
    
    fill: white;
}
.linke {
    width: 16px;
    height: 16px;
    
    fill: white;
}
.insta-f {
    width: 16px;
    height: 16px;
    fill: white;
}
.face-f {
    width: 16px;
    height: 16px;
    fill: white;
}
.twit-f {
    width: 16px;
    height: 16px;
    fill: white;
}
.linke-f {
    width: 16px;
    height: 16px;
    fill: white;
}
.customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.cmp-title {
    text-align: center;
    margin-bottom: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.cmp-list {
    list-style-type: none;
    display: flex;
    align-content: center;
    margin-left: 156px;
    margin-right: 156px;
}
.cmp-list-item {
    width: 168px;
    height: 88px;
    margin-right: 24px;

}
.bckg-footer {
    background-color: var(--text);
    display: block;
    padding-top: 100px;
    padding-bottom: 100px; 
}
.studio-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--light);
}
.footer-description {
    font-size: 16px;
    margin-top: 16px;
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent);
}
.footer-description-plus {
    font-size: 16px;
    width: 264px;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent);
}
.footer-content {
    display: flex;
    align-items: center;
}
.footer-media-list {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}
.footer-description-div {
    margin-right: 120px;
}

/* SVGs adjustment */
.bene-svgs {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;		
    align-items: center;
    border-radius: 50%;
    background-color: #F4F4FD;
}
.bene-svg1 {
    width: 70px;
    height: 70px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-right: 24px;
}
.bene-svg2 {
    width: 70px;
    height: 70px;
    background-color: #F4F4FD;
    border-radius: 4px;
}

.bene-svg3 {
    width: 70px;
    height: 70px;
    background-color: #F4F4FD;
    border-radius: 4px;
}

.bene-svg4 {
    width: 70px;
    height: 70px;
    background-color: #F4F4FD;
    border-radius: 4px;
}

.team-svgs {
    background-color: var(--primary-brand);
    display: flex;
    justify-content: center;		
    align-items: center;
}
.team-svg1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;		
    align-items: center;
    border-radius: 50%;
}
.team-svg2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;		
    align-items: center;
    border-radius: 50%;
}
.team-svgs:hover {
    background-color: var(--success);
}
.team-svg3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;		
    align-items: center;
    border-radius: 50%;
}
.team-svg4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;		
    align-items: center;
    border-radius: 50%;
}

.cmp-svgs {
    width: 170px;
    height: 92px;
    display: flex;
    margin-left: 156px;
    justify-content: center;		
}
.cmp-svgs:hover {
    fill: #4D5AE5;
}
.cmp-svg1 {
    margin-left: 156px;
    margin-right: 24px;
}
.cmp-svg2 {
    margin-right: 24px; 
}
.cmp-svg3 {
    margin-right: 24px;
}

.cmp-svg4 {
    margin-right: 24px;
}
.cmp-svg5 {
    margin-right: 24px;
}
.cmp-svg6 {
    margin-right: auto;
}
.cmp1 {
    border: 1px solid #8E8F99;
    border-radius: 4px;
}
.cmp2 {
    border: 1px solid #8E8F99;
    border-radius: 4px;
}
.cmp3 {
    border: 1px solid #8E8F99;
    border-radius: 4px;
}
.cmp4 {
    border: 1px solid #8E8F99;
    border-radius: 4px;
}
.cmp5 {
    border: 1px solid #8E8F99;
    border-radius: 4px;
}
.cmp6 {
    border: 1px solid #8E8F99;
    border-radius: 4px;
}
.footer-svgs {
    background-color: var(--primary-brand);
    display: flex;
    justify-content: center;		
    align-items: center;
}
.footer-svgs:hover {
    background-color: var(--success);
}
.footer-svg1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;		
    align-items: center;
    border-radius: 50%;
}
.footer-svg2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;		
    align-items: center;
    border-radius: 50%;
}
.footer-svg3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;		
    align-items: center;
    border-radius: 50%;
}
.footer-svg4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;		
    align-items: center;
    border-radius: 50%;
}
/* Portfolio part */
.merch-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.merch-info {
    padding-left: 16px;
    padding-bottom: 32px;
}
.filter-btns {
    margin-bottom: 72px;
}
.display-btn {
    background: var(--light);
    border: 1px solid var(--accent);
    border-radius: 4px;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: #4D5AE5;
    cursor: pointer;
}
.display-btn:hover {
    background: var(--primary-brand);
    color: white;
    cursor: pointer;
}
.total-display-btn {
    width: 69px;
    padding: 8px 16px;
    background: var(--primary-brand);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    color: #FFFFFF;
    cursor: pointer;
}
.total-display-btn:hover {
    background-color: #404BBF;
}
.merch-pics {
    list-style-type:none;
    display:  flex; 
    flex-wrap: wrap; 
    gap: 24px;
    padding: 0;
}
.merch-rows {
    flex-basis: calc((100% - 48px) / 3);
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.merch-rows:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.project-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 32px;
    color: var(--dark);
}
.categories {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
    color: var(--text);
}